{% extends "base.html" %}
{% block content %}
  <div class="container-fluid">
    <h1 class="rc1">Step 1 <small>Sign in to Unfuddle</small></h1>
    <form action="step1" method="POST" class="form-horizontal">
      {{ form.hidden_tag() }}
      <div class="form-group">
        <label for="domain" class="col-sm-3 col-lg-2 control-label">Unfuddle domain</label>
        <div class="col-sm-9 col-lg-10">
          <div class="input-group">
            <span class="input-group-addon">https://</span>
            {{ form.domain(class="form-control", autofocus=True, placeholder="e.g. example.unfuddle.com") }}
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="username" class="col-sm-3 col-lg-2 control-label">Unfuddle username</label>
        <div class="col-sm-9 col-lg-10">
          {{ form.username(class="form-control") }}
        </div>
      </div>
      <div class="form-group">
        <label for="password" class="col-sm-3 col-lg-2 control-label">Unfuddle password</label>
        <div class="col-sm-9 col-lg-10">
          {{ form.password(class="form-control") }}
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-3 col-lg-offset-2 col-sm-9 col-lg-10">
          <button type="submit" class="btn btn-primary">Sign In</button>
        </div>
      </div>
    </form>
  </div>
{% endblock %}
