{% extends "base.html" %}
{% block content %}
  <div class="container-fluid">
    <h1 class="rc3">Step 3 <small>Upload the tickets</small></h1>
    <form action="step3" method="POST" class="form-horizontal" enctype="multipart/form-data">
      {{ form.hidden_tag() }}
      <div class="form-group">
        <label class="col-sm-3 col-lg-2 control-label">Project</label>
        <div class="col-sm-9 col-lg-10">
          <p class="form-control-static">{{ project}}</p>
        </div>
      </div>
      <div class="form-group">
        <label for="csvfile" class="col-sm-3 col-lg-2 control-label">Ticket file (csv)</label>
        <div class="col-sm-9 col-lg-10">
          {{ form.csvfile(autofocus=True) }}
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-sm col-lg-offset-2 col-sm-9 col-lg-10">
          <button type="submit" class="btn btn-primary">Upload</button>
        </div>
      </div>
    </form>
    <h3>About the CSV file</h3>
    <p>The first row consists of column headings. The following headings are recognized:</p>
    <ul>
      <li>Short Summary</li>
      <li>Full Description</li>
      <li>Priority</li>
      <li>Severity</li>
      <li>Component</li>
      <li>Assign To</li>
      <li>Milestone</li>
    </ul>
    <p>The subsequent rows are tickets, one per row.</p>
    <ul>
      <li>Priority is one of Lowest, Low, Normal, High, Highest. Default is Normal.</li>
      <li>Severity, Component and Milestone are as defined in the project. These fields are optional.</li>
      <li>Assign To is a project member's name. This field is also optional.</li>
    </ul>
    <p>After uploading, you will have a chance to review the tickets before you submit them.</p>
  </div>
{% endblock %}
