{% extends "base.html" %}
{% block content %}
  <div class="container-fluid">
    <h1 class="rc2">Step 2 <small>Choose your project</small></h1>
    <form action="step2" method="POST" class="form-horizontal">
      {{ form.hidden_tag() }}
      <div class="form-group{% if form.project.errors %} has-error{% endif %}">
        <label for="project" class="col-sm-3 col-lg-2 control-label">Unfuddle project</label>
        <div class="col-sm-9 col-lg-10">
          {{ form.project(class="form-control", autofocus=True) }}
          {% for error in form.project.errors %}<p class="text-danger">{{ error }}</p>{% endfor %}
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-sm col-lg-offset-2 col-sm-9 col-lg-10">
          <button type="submit" class="btn btn-primary">Choose</button>
        </div>
      </div>
    </form>
  </div>
{% endblock %}
