{% extends "base.html" %}
{% block content %}
  <div class="container-fluid">
    <h1 class="rc4">Step 4 <small>Verify the tickets</small></h1>
    <p class="lead"><strong>Project:</strong> {{ project }}</p>
    <table class="table">
      <thead>
        <tr>{% for column in columns %}<th>{{ column }}</th>{% endfor %}</tr>
      </thead>
      <tbody>
        {% for ticket in tickets %}
          <tr>{% for column in ticket %}<td>{{ column[1] }}</td>{% endfor %}</tr>
        {% endfor %}
      </tbody>
    </table>
    <p class="Load"><strong>Total:</strong> {{ howmany }} ticket(s).</p>
    <form action="step4" method="POST">
      {{ form.hidden_tag() }}
      <button type="submit" class="btn btn-primary">Submit tickets</button>
    </form>
  </div>
{% endblock %}
